node_modules/
.testresults/
.coverage/
.nyc_output/
.publish/
.vsix/
**/node_modules/
**/*.tar*
**/*.gz
**/*.tgz
**/*.zip
.ntvs_analysis.dat*
npm-debug*
.taskkey

src/**/*.js*
test/**/*.js*
!**/*.json
**/.testcontext
